<div id="accuracy3" ng-controller="GradesController as GC">
	<div class="navMenu">
		<a href="#/dashboard">Back</a> | <a href="#/forum">Forum</a> | <a href="" ng-click="GC.logout()">Logout</a>
	</div>
	<h3>Please go through each section and be as accurate as possible.  The final accuracy of your comic book's grade is fully dependant upon the accuracy of the information provided. If you have a question regarding a specific defect or if we missed one here please let us know in our <a href="#/forum/generalDiscussion/suggestions">forum</a></h3>
	<h4 class="warning">**The grading feature is still in development**</h4>
	<form>
		<label for="corners">
			
		</label>
		<label for="spine">
			
		</label>
		<label for="cover">
			
		</label>
		<input type="submit" class="gradeIt" value="Grād It!" ng-click="GC.getlFullGrade()">
	</form>
	<div class="yourGrade" ng-if="GC.grade">
		<h3>Based on the information provided your comic book should grade at {{ GC.grade }}</h3>
	</div>
</div>

<!-- corners
	- blunted
	- abraded

spine
	- creases
		- number (1, 2, 3, 4, more than 5)
		- size of the biggest one
		- color break?
	- rolled
		- Yes or No
cover
	- creases
		- number
		- size
		- color break?
pages
	- brittle?
	- color (get stages of white)

other defects
	- writing
	- price stickers
	- water damage -->