<div id="dashboard" ng-controller="UsersController as UC">
	<!-- <h2>So you want to grade your comic book but not sure where to start</h2> -->
	<a class="logout" href="" ng-controller="GradesController as GC" ng-click="GC.logout()">Logout</a>
	<h1>Hello, {{ UC.loggedUser.username }}!</h1>
	<h2>Check out our all-new forum!</h2>
	<a href="#!/forum">Forum</a>

	<div id="accuracyMenu">
		<h2>Grade your comics here or just get some quick info</h2>
		<a href="#!/accuracy1" title="Find out what range of grades your comic book falls in based on the number of defects">Grade based on number of defects</a>
		<a href="#!/accuracy2" title="This'll give you a general idea of your comic books grade without getting into that great of detail">Just tell me if it's Good or Bad</a>
		<a href="#!/accuracy3" title="This option requires the most detail but will give you the most accurate grade">Full Grading Option</a>	
	</div>
</div>