<div id="home" ng-controller="HomeController as HC">
	<a id="logButton" href="#/login">Enter</a>
	<div class="homeSample">
		<h1>Welcome to Cobo Grād!</h1>  
		<h2>Here you'll find a great community with a wealth of resources for anyone interested in comic books.  Whether you're a collector, a reader, a dealer, looking to relive the past or maybe just came into possession of a collection you know nothing about, this is the place for you!</h2>
		<h4 class="error">*Please note this site currently has limited functionality and many of the great features we plan to bring are still in development.  Site is live to allow for real-world testing and to show deployed project to the awesome people at Gearbox Software!*</h4>
	</div>
	<div class="homeSample">
		<h1>Why join up?</h1>
		<p>Have you ever wanted to evaluate the condition of your comic book but had no idea where to start?  Grading comic books can be an art form, and not very easy.  That's where we come in.  Simply fill out our guided form to let us know what defects your comic book has and let our propietary algorithms take over and do the hard work.</p>
		<p>But that's not all you can do here.  As a registered user you can:</p>
		<div class="center">
			<ul>
				<li>Save your graded comics in our database and access them anytime</li>
				<li>See what comics like yours have sold or are selling for on eBay</li>
				<li>If you're an eBay seller we'll take the information on your graded comic and pre-fill some of the fields on eBay's seller listing page</li>
				<li>Take part in our forums to discuss everything comic related and more with fellow enthusiasts</li>
				<li>Find out about conventions coming to your town</li>
				<li>Best of all.....IT'S FREE!!!!!</li>
			</ul>
		</div>
	</div>
	<div class="homeSample">
		<h1>Why Grād Comic Books?</h1>
		<h3>First, take a look at the most expensive comic book ever sold!  Notice the high grade!  A low graded version of this same comic book can sell for MILLIONS of dollars less!  Ok, so this may be an EXTREME example, but you get the picture.</h3>
		<a href="http://www.ebay.com/sch/i.html?_from=R40&_sacat=0&_nkw=action+comics+%231+1938&_sop=16" target="_blank"><img src="/static/images/action1ebay.png"></a>
	</div>
	<div class="homeSample">
		<h3>Now check out first hand how differences in grade can affect the value of a more modern comic book.</h3>
		<a href="http://www.ebay.com/sch/i.html?_odkw=action+comics+%231+1938&_sop=16&_osacat=0&_from=R40&_trksid=p2045573.m570.l1313.TR2.TRC1.A0.H0.Xthe+walking+dead+%231+2003.TRS0&_nkw=the+walking+dead+%231+2003&_sacat=0" target="_blank">
			<img class="wdsold" src="/static/images/wd1_99.png">
			<img class="wdsold" src="/static/images/wd1_98.png">
			<img class="wdsold" src="/static/images/wd1_96.png">
			<img class="wdsold" src="/static/images/wd1_94.png">
			<img class="wdsold" src="/static/images/wd1_92.png">
			<img class="wdsold" src="/static/images/wd1_85.png">
		</a>
	</div>
</div>