<div id="subcategory" ng-controller="ForumsController as FC">
	<div class="navMenu">	
		<a href="#/dashboard">Dashboard</a> | <a href="#/forum">Forum Main</a> | <a href="#/forum/{{ FC.category }}">Back to Sub-Category List</a> | <a href="" ng-click="FC.logout()">Logout</a>
	</div>
	<div class="newTopic">	
		<button class="slide" ng-hide="FC.loggedUser.username == 'Guest'">+ New Topic</button>
		<div class="toggle">
			<form>
				<label for="title">Title <input id="title" type="text" ng-model="FC.newTopic.title" /></label>
					<div ng-if="FC.validationError.errors['title'].kind" class="error">
						{{ FC.validationError.errors['title'].message }}
					</div>
				<label for="post">Post <textarea id="post" cols="80" rows="20" ng-model="FC.newTopic.post"></textarea></label>
					<div ng-if="FC.validationError.errors['post'].kind" class="error">
						{{ FC.validationError.errors['post'].message }}
					</div>
				<input class="add_topic" type="submit" value="Add Topic" ng-click="FC.addTopic()" />
			</form>
		</div>
	</div>
	<table>
		<thead>
			<tr>
				<th>Topic</th>
				<th>Top Users</th>
				<th>Replies</th>
				<th>Views</th>
				<th>Last Activity</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="topic in FC.topics">
				<td><a href="#/forum/{{ FC.category}}/{{ FC.subcategory}}/{{ topic._id }}">{{ topic.title }}</a></td>
				<td>**Future Feature**</td>
				<td>{{ topic.replies }}</td>
				<td>{{ topic.views }}</td>
				<td>{{ topic.timeago }}</td>
			</tr>
		</tbody>
	</table>
</div>
